<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
				<div >

				<div >
					
					<div>
	    			<ul >
	    				 联系我：
	        			<li><a href="mailto:freete@outlook.com">Email</a></li>
	        		
					</ul>
					</div>


				

					 <div >
        				 点滴积累，凝聚智慧。
      				 </div>
				</div>
				</div>
			</footer>
		</body>
	</html>


